/* Stylesheet by Calla Little, 2016 */
body {
    background-color: #444;
}

#map {

	margin: auto;
	height: 820px;
	width: 80%;
	display: inline-block;
    border: solid gray;
    border-width: 3px;
}

#title{
    height: 20;
}

#panel {
    
    height: 820px;
    width: 18%;
    padding: 0px;
    display: inline-block;
    vertical-align: top;
    background-color: #444;
    border: solid gray;
    border-width: 3px;
    text-align: center;
    color: #FFF;
}

#options {
	position: relative;
	display: inline-block;
	vertical-align: top;
    text-align: center;
}

.selectbox {
    display: inline-block;
}


.leaflet-popup-content-wrapper {
	background-color: #333;
	opacity: 1;
}

.leaflet-popup-tip {
	background-color: #333;
}

.leaflet-popup-content p, h3{
    color: #fff;
    text-align: center;
}




.sequence-control-container {
    width: 250px;
    height: 15px;
    background-color: #333;
    padding: 10px;
    line-height: 7px;
    text-align: center;
    /*border: solid gray 1px; */
}

.range-slider {
    width: 150px;
    height: 10px;
}

.legend-control-container {
    width: 250px;
    /*height: 25px;*/
    background-color: #333;
    padding: 10px;
    line-height: 7px;
    text-align: center;
    /*border: solid gray 1px;*/
    color: #fff;
}

.color-legend-control-container {
    width: 250px;
    /*height: 25px;*/
    background-color: #333;
    padding: 10px;
    line-height: 7px;
    text-align: center;
    /*border: solid gray 1px;*/
    color: #fff;
}

#color-legend {
    display: inline-block;
}