/* Stylesheet by Calla Little, 2016 */

#map {

	margin: auto;
	height: 820px;
	width: 80%;
	display: inline-block;
}

#options {
	position: relative;
	display: inline-block;
	vertical-align: top;
}



#panel {

	width: 16%;
	padding: 20px;
	display: inline-block;
	vertical-align: top;
}

.leaflet-popup-content-wrapper {
	background-color: #4E7EC5;
}

.leaflet-popup-tip {
	background-color: #4E7EC5;
}

